*{
    box-sizing: border-box;
     padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%; /*10px'e karşılık gelir.Mobil görüntüde */
}
body{
    font-size: 1.4rem; /*14px */
    font-family: 'Lato', sans-serif;
}
.row{
    margin-top: 40px;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}
.col-4{
    float: left;
    width: 25%;
    
}
.col-3{
    float: left;  
    width: 33.3%;
}
.col-2{
   float: left;
    width: 50%;
    
}
@media (max-width: 768px){
    .col-4,.col-3,.col-2{
        width: 100%;
    }
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.container{
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
}

/*break point aralıkları*/
@media (min-width: 576px){
    html{
        font-size: 68%;
    }
    .container{
        width: 540px;
        margin: 0 auto;
    }
  
}

@media (min-width: 768px){
    html{
        font-size: 70%;
    }
    .container{
        width: 720px;
        margin: 0 auto;
    }
    
}

@media (min-width: 992px){
    html{
        font-size: 72%;
    }
    .container{
        width: 960px;
        margin: 0 auto;
    }
    
}
@media (min-width: 1200px){
    html{
        font-size: 74%;
    }
    .container{
        width: 1140px;
        margin: 0 auto;
    }
    
}
@media (min-width: 1400px){
    html{
        font-size: 76%;
    }
    .container{
        width: 1320px;
        margin: 0 auto;
    }
    
}


