.signup-page{
    padding-top: 60px;
}
.signup-title{
    font-size: 32px;
    text-align: center;
    color: #1D5D9B;
}
.signup-form {
    width: 100%;
}
@media (min-width: 768px){
    .signup-form{
        margin: 0 auto;
        width: 500px;
    }
}
.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select{
    display: block;
    width: 100%;
    margin-top: 15px;
}
.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label{ /*checkboxtan sonra gelen ilk label elemanı demek */
    display: inline;
    width: auto;
    margin-top: 15px;
}
.signup-form button[type="submit"]{
    display: block;
    margin: 20px;
}
.signup-form input:not([type="checkbox"]),
.signup-form select{
    border: 1px solid gray;
    padding: 10px 15px;
}
.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus{
    outline: none;
    background-color: #EEE0C9;
    color: #fff;
    border: 1px solid #eee;
}
/* .signup-form input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 1px solid #2e4d6c;
    vertical-align: bottom;
    margin-right: 20px;
    border-radius: 50%;
} */